
@{
    ViewBag.Title = "UserRegistration";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Имя</p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Фамилия</p></td>
                    <td><input type="text" name="Surname" /> </td>
                </tr>
                <tr>
                    <td><p>Возраст</p></td>
                    <td><input type="number" name="Age" /> </td>
                </tr>
                <tr>
                    <td><p>Электронная почта</p></td>
                    <td><input type="email" name="Mail" /> </td>
                </tr>
                <tr>
                    <td><p>Номер телефона</p></td>
                    <td><input type="text" name="PhoneNumber" /> </td>
                </tr>
                <tr>
                    <td><p>Адрес</p></td>
                    <td><input type="text" name="Address" /> </td>
                </tr>
                <tr>
                    <td><p>Пароль</p></td>
                    <td>
                        <input type="text" name="Password" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Сохранить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>